.yellowdiagonal {
    background-color: #e6e6e6;
    background-image: url(https://albany.edu/communicationsmarketing/greatness/images/Diagonal_Pattern_PMS_124.png);
    background-repeat: repeat;
    background-size: contain;
}